body {
    background-color: #454443;
}
.topo {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}
.bloco1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jogos {
    display: flex;
    max-width: 200px;
}
.status {
    background-color:;
}